#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}


/* todo data */
.data{

  display: flex;
  flex-direction: column;
  width: 50%;
  margin:0 auto;
  text-align: start;
  background-color: rgb(230, 219, 242);
  font-size: large;
}

input{
  margin-right: 0.5rem;
}

button{
  margin: 20px;
  background-color: rgba(252, 129, 129, 0.836);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  color:white;
}

.data li{
  list-style: none;
  margin: 20px;
}

.strike{
  text-decoration: line-through;
  color:rgb(252, 114, 114);
}

.nonStrike{
  text-decoration: none;
  color:black;
}

nav{
  display: flex;
  justify-content: center;
  font-size: larger;
  gap:2rem
}

.nav{
 text-decoration: none;
 color:darkgoldenrod;
}

.nav:hover{
  font-size: large;
  font-weight: bold;
}

.active{
  text-decoration: none;
  color:purple;
  font-weight: 900;
}

